@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@theme {
  --font-space-grotesk: Space_Grotesk, "sans-serif";
  --background: #ffffff;
  --foreground: #383838;
  --shadow: 3px 2px 14px -2px rgba(0,0,0, 0.12)
}

section{
  min-height: 100vh;
  margin-top: 64px;
  margin: 72px
}
